@use '../abstracts' as *;

.flex-group {
  // flex-wrap might cause issues with column gap or padding inbetween elements
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap /2)); //var(--flex-gap, calc(--flex-gap)/2);
  width: fit-content; //ms-auto doesn't work without this
}

.flex-group.mx-auto {
  justify-content: center;
}
